/*

ANIMATIONS

*/

@keyframes author_link_anim {
  from {
    border-bottom-color: transparent;
    border-bottom-width: 0px;
    border-bottom-style: none;
  }

  to {
    border-bottom-color: gray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}


/*

CLASSES

*/

.header_title {
  margin-left: 40vw;
}

.github_icon_link {
  color: black;
}

.timeline_site {
  background-color: #E5EAF8;
}

.author_link:hover {
  animation-name: author_link_anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}