
@keyframes placeholder_anim {
    0% {
        background-color: rgba(0, 0, 0, .7);
    }
    50% {
        background-color: rgba(0, 0, 0, .5);
    }
    100% {
        background-color: rgba(0, 0, 0, .7);
    }
}

.placeholder_animated_div {
    height: 95%;
    width: 100%;
    animation-name: placeholder_anim;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.placeholder_doc_viewer {
    min-height: 100vh;
    height: 100vh;
}