@keyframes drag_area_on_anim {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgb(203, 222, 255);
    }
}

@keyframes drag_area_off_anim {
    from {
        background-color: rgb(203, 222, 255);
    }

    to {
        background-color: transparent;
    }
}

/*
    Style for the "choose a file" link that is present in the drop area
*/
.choose_a_file {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: color .5 ease-in-out;
}

/*
    Style that is applied after the link is done rendering, only appears when the user
    hovers over the link, then we set right to 0 which triggers the line to begin rendering
    from left to right
*/
.choose_a_file::after {
    position: absolute;
    content: "";
    border-bottom: .1em solid  black;
    border-radius: 1em;
    right: 100%;
    bottom: .025em;
    left: 0;
    transition: right .5s ease-in-out;
}

/*
    Hover effect on the link, completely reducing the right space being applied to the link. Which
    activates the transition, causing the link to fill up it's left space via animation function.
*/
.choose_a_file:hover::after {
    right: 0;
}

/*
    Style for when the user is dragging files over the drag area
*/
.drag_area_on {
    animation-name: drag_area_on_anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*
    Style for when the user is not dragging files over the drag area
*/
.drag_area_off {
    animation-name: drag_area_off_anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*
    The style for the invisible form before it renders, which serves as the input to the label "choose a file", but cannot be visible.
*/
.invisible_form:before {
    opacity: 0;
}

/*
    The style for the invisible form, which serves as the input to the label "choose a file", but cannot be visible
*/
.invisible_form {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/*
    The overall section of the drop area present in the row of other sections such as "file" and "dates"
*/
.file_import_section {
    width: 33.33333vw;
    min-height: 20vh;
    border-left: .5px solid rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*
    The styling for the section header, which is the label at the top left of the section
*/
.file_import_section_header {
    position: absolute;
    bottom: 90%;
    right: 90%;
    font-size: .80em;
    color: rgba(0, 0, 0, .30);
    font-weight: 600;
}

.choose_file_icon {
    margin-left: 47%;
    margin-right: 53%;
}

.hovering_over_choose_icon {
    transition: margin-left 1s ease-in-out, color 1s ease-in-out;
    color: #0d6efd;
    margin-left: 20%;
}

.hovering_over_choose_icon_left {
    transition: margin-left 1s ease-in-out, color 1s ease-in-out;
    color: black;
    margin-left: 47%;
}

.hovering_over_choose_link_text {
    transition: opacity 1s ease-in-out;
    opacity: 25%;
}

.hovering_over_choose_link_text_left {
    transition: opacity 1s ease-in-out;
    opacity: 100%;
}