@keyframes list_icon_anim {

    from {
        background-color: transparent;
    }

    to {
        background-color: lightgray;
    }

}

.list_icon:hover {
    animation-name: list_icon_anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}