@keyframes list_icon_anim {

    from {
        background-color: transparent;
    }

    to {
        background-color: lightgray;
    }

}

.list_icon:hover {
    animation-name: list_icon_anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.file_display_section {
    width: 33.33333vw;
    min-height: 20vh;
    border-right: .5px solid rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.file_display_alert {
    width: fit-content;
    margin: 0;
    padding: 1.5em;
    font-weight: 350;
    font-size: 1.25em;
}

.file_display_section_header {
    position: absolute;
    bottom: 90%;
    right: 90%;
    font-size: .80em;
    color: rgba(0, 0, 0, .30);
    font-weight: 600;
}